
<head>
<%= stylesheet_link_tag "inspector_engine/inspection_standard", :media => "all" %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>検品基準書_AWEG02201</title>
</head>
<body>
    <form name="form1" method="post" action="./Standards.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTk0NTUzMzc2Mg9kFgICAg9kFqQBAgEPDxYEHgdFbmFibGVkZx4HVmlzaWJsZWhkZAIDDw8WBB8AZx8BaGRkAgUPDxYCHgRUZXh0BQlBV0VHMDIyMDFkZAIJDw8WAh8CBQE1ZGQCCw8PFgIfAgUIRXJnb2JhYnlkZAINDw8WAh8CBWDvvbTvvpnvvbrvvp7vvo3vvp7vvovvvp7vvbDvvaXvvpfvvbLvvoTvvbPvvarvvbLvvoTvvaXvvorvvp/vvozvvp/vvbDvvb3vvbrvvbDvvoQv7724776e776a772wL1NkZAIPDw8WCB4IQ3NzQ2xhc3MFFnJlYWRPbmx5IGtwbl9mb250IG1lbnUeCFJlYWRPbmx5Zx4EXyFTQgICHwJlZGQCEQ8QDxYCHwFoZGQWAGQCEw8PFgIfAmVkZAIVDw8WCB8DBRZyZWFkT25seSBrcG5fZm9udCBtZW51HwRnHwUCAh8CBQVDSElOQWRkAhcPDxYIHwMFFnJlYWRPbmx5IGtwbl9mb250IG1lbnUfBGcfBQICHwIFDOODiuOCpOODreODs2RkAhkPDxYCHwIFCVBDTDAzMTI2U2RkAhsPDxYCHwIFJFBhcG9vc2UgQ29hdCBMaWdodCBXZWlnaHQgR3JleSBTTUFMTGRkAh0PDxYCHwIFOzXlkI3kuK0z5ZCN5Lul5LiK44GM5Yi65r+A6Iet44KE55Ww6Iet44KS5oSf44GY44Gq44GE44GT44GoZGQCHw8PFgIfAgUTNeS6uuOBp+avlOi8g+OBmeOCi2RkAiEPDxYCHwIFXeaxmuOCjOOAgeOBjeOBmuOAgeafk+OCgeODoOODqeOAgeWkieiJsuetieOBjOOBquOBj+OAgeWkluims+OCkuaQjeOBquOBhuasoOeCueOBjOOBquOBhOOBk+OBqGRkAiMPDxYCHwIFBuebruimlmRkAiUPDxYCHwIFKumiqOWQiOOBhOOBq+iRl+OBl+OBhOW3rueVsOOBjOOBquOBhOOBk+OBqGRkAicPDxYCHwIFBuebruimlmRkAikPDxYCHwIFJOeVsOeJqeOBrua3t+WFpeOBquOBqeOBjOOBquOBhOOBk+OBqGRkAisPDxYCHwIFBuebruimlmRkAi0PDxYCHwIFKuaooeanmOOAgeiJsuiqv+OBruS4jeaPg+OBhOOBjOOBquOBhOOBk+OBqGRkAi8PDxYCHwIFBuebruimlmRkAjEPDxYCHwIFjQHnuKvoo73jga/ns7jliIfjgozjgIHns7jmraLjgorjgIHnuKvjgYTnm67jga7plpPpmpTjgIHnuKvjgYTnm67jga7mm7LjgYzjgornrYnjgYzjgarjgY/oia/lpb3jgafjgIHnuKvjgYTnm67lpJbjgozjgoTnm67po5vjgbPjgYzjgarjgYTjgZPjgahkZAIzDw8WAh8CBQbnm67oppZkZAI1Dw8WAh8CBUvljbHlrrPjgpLkuI7jgYjjgovjgojjgYbjgarlsJbjgorjgIHjg5Djg6rjgIHjgZXjgZXjgY/jgoznrYnjgYzjgarjgYTjgZPjgahkZAI3Dw8WAh8CBQbnm67oppZkZAI5Dw8WAh8CBULmiYvnuKvph53jgIHjg5/jgrfjg7Pph53jgarjganjga7ph53jgYzmt7flhaXjgZfjgabjgYTjgarjgYTjgZPjgahkZAI7Dw8WAh8CBRjmpJzph53lt6XnqIvjgavjgabnorroqo1kZAI9Dw8WAh8CBTblhajlk4Hjgavlr77jgZfjgabjgIHmpJzph53jgpLlrp/mlr3jgZfjgabjgYTjgovjgZPjgahkZAI/Dw8WAh8CBRjmpJzph53lt6XnqIvjgavjgabnorroqo1kZAJBDw8WAh8CBTnku5jlsZ7lk4Hjga/jgZfjgaPjgYvjgorlj5bjgorku5jjgZHjgonjgozjgabjgYTjgovjgZPjgahkZAJDDw8WAh8CBQbnm67oppZkZAJFDw8WAh8CBSzjgrXjgqTjgrrjga7oqLHlrrnnr4Tlm7Ljga/CsTEuMOOOneOBqOOBmeOCi2RkAkcPDxYCHwIFBuaOoeWvuGRkAkkPDxYCHwBnZGQCSw8PFgYfAwUNa3BuX2ZvbnQgbWVudR8EaB8FAgJkZAJNDw8WAh8CZWRkAk8PEA8WAh8BaGRkFgBkAlMPEA8WAh8BaGRkFgBkAlcPEA8WAh8BaGRkFgBkAlsPEA8WAh8BaGRkFgBkAl8PDxYCHwJlZGQCYQ8PFgQfAGcfAWhkZAJjDw8WAh8CZWRkAmUPDxYCHwJlZGQCZw8PFgIfAmVkZAJpDw8WAh8CZWRkAmsPDxYEHwBnHwFoZGQCbQ8PFgIfAmVkZAJvDw8WAh8CZWRkAnEPDxYCHwJlZGQCcw8PFggfAmUfBQICHwMFEXJlYWRPbmx5IGtwbl9mb250HwRnZGQCdQ8PFggfAwUWcmVhZE9ubHkga3BuX2ZvbnQgbWVudR8EZx8FAgIfAmVkZAJ3Dw8WCB8DBRZyZWFkT25seSBrcG5fZm9udCBtZW51HwRnHwUCAh8CZWRkAnkPDxYIHwMFFnJlYWRPbmx5IGtwbl9mb250IG1lbnUfBGcfBQICHwJlZGQCew8PFggfAwUWcmVhZE9ubHkga3BuX2ZvbnQgbWVudR8EZx8FAgIfAmVkZAJ9Dw8WCB8DBRZyZWFkT25seSBrcG5fZm9udCBtZW51HwRnHwUCAh8CZWRkAn8PDxYEHwBnHwFoZGQCgQEPPCsACgEADxYCHwFoZGQCgwEPDxYIHwMFFnJlYWRPbmx5IGtwbl9mb250IG1lbnUfBGcfBQICHwJlZGQChQEPDxYEHwBnHwFoZGQChwEPPCsACgEADxYCHwFoZGQCiQEPDxYIHwJlHwUCAh8DBRFyZWFkT25seSBrcG5fZm9udB8EZ2RkAosBDxAPFgIfAWhkZBYAZAKNAQ8PFgIfAmVkZAKPAQ8PFggfAmUfBQICHwMFEXJlYWRPbmx5IGtwbl9mb250HwRnZGQCkQEPEA8WAh8BaGRkFgBkApMBDw8WAh8CZWRkApUBDw8WCB8CZR8FAgIfAwURcmVhZE9ubHkga3BuX2ZvbnQfBGdkZAKXAQ8QDxYCHwFoZGQWAGQCmQEPDxYCHwJlZGQCmwEPDxYIHwJlHwUCAh8DBRFyZWFkT25seSBrcG5fZm9udB8EZ2RkAp0BDxAPFgIfAWhkZBYAZAKfAQ8PFgIfAmVkZAKhAQ8PFggfAmUfBQICHwMFEXJlYWRPbmx5IGtwbl9mb250HwRnZGQCowEPEA8WAh8BaGRkFgBkAqUBDw8WAh8CZWRkAqcBDw8WCB8CZR8FAgIfAwURcmVhZE9ubHkga3BuX2ZvbnQfBGdkZAKpAQ8QDxYCHwFoZGQWAGQCqwEPDxYCHwJlZGQCrQEPZBYCAgEPDxYCHghJbWFnZVVybAU+fi9pbWFnZXMvSW5zcGVjdGlvbi9BV0VHMDIyMDEuanBnP3RpbWVzdGFtcD02MzY3Njc2OTE5ODU0MjM5NTFkZGR1P8gGJeXT/pR1N4/nce92u0c+i8LJPXfKVcKVW+muIg==" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="D0FB9D0D" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdADmbq+rpy8bpyvHqhEw6kJcXbVaY8Pkl4xDZ8nQYVX68MUuOpdSz8/qDa9lM06W4fEQbVzBX0mWHLToyVPDkwKjQfDhAifJH5vUnIfwGHy30wN+uEdjjLd7BG1wDAquR8ZValnLgDFTt8y4U1Y3swfOyds7L6uGtEJ/AQ76zl4h+sK+qKaLpWoTTkaRgkJcGAHnB4oawmFhyf4R9YYBx8d4UQLv34NSSrAA6KYdy1cRT72QlpxQ69HLhe/2wCq8+d16sSGOkEKYAp6jEAiVzfqMuA2SOpm5hIemvOFDSb3sJmrvwO9dDRX2Kee+cCBNlj6+ecrXC0zbnU9y1dGjzFXLRCKPMnEbOXZ6RTEbF8SP1DdFfxxok0szzvHYfKO66b6yfyUQ0ZkHds/1L2XK4Eb0kVDTCJ/8Xi4hZAFdwReESg/GkxoZu3k8bxPur+ZnqErDLQgttTZnLQspT9hZ2fDqQ7s704rEduna+vKs6ON8xnHUZ5bs2G+7DqFrFMt0hZewhEmSwqZoi7U5T6CcnvuHN3xjMAOVoNfk7D9nHSHEjKWSuas8JeOET03fwjj8NAjP2B5egxKOFbnbp6kGYptxVwsdGE8t7aJ40j4BlF/oEOXhHGMbHuJkGXf0aoNDuvmJqGGCeCn7eVTZmIP8lJ26zIs+BRXtqpHXU2v2bYrlDH4lWXNWl0OtEc16OpYiOr+6nsGhKd9RcJupFJTxazM1gsSZwbTv8c8TV2hdjfbuXwhDmmuyZ5oAxyOa9FaD4AtxhLqGV9Y3Ufm467ZH6K3zKQ1vnnbBTTH2KbyZ4p9H2AM67n0qCN4V+QrX27L2fRDCDSQRqsKJRudE6sYSEIUkTbZAbHIDGTAvRTSLXvayBFEysV5VmAJDIFr4+Vov8Uh85BBh9E2HXNRt9J02I+tuKQ/XJLYhejPToOhvjHS/Z3cxhFaLQyeqbHjtBMShQPX+N89oBkD47/eHJteFFuRrL1f3Uo1Bh+R5liuETV6OZOnPUGrDHPTw5gCsMx+Nuos94p7gPKBYC2Bp4lhFtdl2BJouFH+c/V6vG21cZvFeQ15CsbzisFKnL+UVJNIZWY2dAErY9Mr6gEHkBM8OIzuX5F/F9Q3DsiZZO89dECKPqHFRdkA9phHuIqi66k1nROMWP39YZiD7Dkytyt7cbn/QwHmckDUHwGsNQGPMRWGyxIrYiCVFFo7l5XaETh19cZj8FEeHhLYQ54XaFMt6xUi5+oBMQ42JojpfcZMqX3GvQ3Q==" />
</div>
        <table>
            <tr>
                <td class="kpn_title">検品基準書</td>
            </tr>
        </table>
        <table style="width: 1300px;">
            <tr>
                <td style="vertical-align: top; width:50%;" class="auto-style1">
                    <table style="width:100%;">
                        <tr>
                            <td>
                                
                            </td>
                            <td></td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <table>
                        <tr style="height: 20px;">
                            <th style="width: 80px;"  class="kpn_th">品目コード</th>
                            <td class="kpn_td">
                                <textarea name="txtItemCode" rows="2" cols="20" readonly="readonly" id="txtItemCode" class="readOnly kpn_font" style="height:20px;width:150px;"><%= @hincd %>
                                </textarea>
                                <input type="submit" name="btnItemSearch" value="検索" onclick="window.open(&#39;ItemSrch.aspx&#39;, &#39;new&#39;, &#39;width=700,height=600,scrollbars=1&#39;); return false;" id="btnItemSearch" class="menu" />
                            </td>
                            <th style="width: 70px;"  class="kpn_th">ステータス</th>
                            <td class="kpn_td">
                                <input name="txtItemStatus" type="text" value="<%= @hinstscd %>" readonly="readonly" id="txtItemStatus" class="readOnly kpn_font" style="width:30px;" />
                            </td>
                            <th style="width: 60px;"  class="kpn_th">ブランド</th>
                            <td class="kpn_td">
                                <textarea name="txtBrandName" rows="2" cols="20" readonly="readonly" id="txtBrandName" class="readOnly kpn_font" style="height:20px;width:145px;"><%= @clsnm %>
                                </textarea>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th style="width: 80px; height:30px;" class="kpn_th">品目名(カナ)</th>
                            <td class="kpn_td">
                                <textarea name="txtItemKanaName" rows="2" cols="20" readonly="readonly" id="txtItemKanaName" class="readOnly kpn_font" style="height:30px;width:250px;"><%= @hinnm %>
                                </textarea>
                            </td>
                            <th style="width: 80px"  class="kpn_th menu">対象年齢</th>
                            <td class="kpn_td">
                                <input name="txtAge" type="text" value="<%= @product[0].target_age if @product.present?  %>" readonly="readonly" id="txtAge" class="readOnly kpn_font menu" style="width:180px;" />
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 80px"  class="kpn_th">パッケージ</th>
                            <td class="kpn_td">
                                
                                <span id="lblPackage" style="font-weight:normal;"></span>
                            </td>
                            <th style="width: 80px"  class="kpn_th menu">原産国</th>
                            <td class="kpn_td">
                                <input name="txtOrigin" type="text" value="<%= @product[0].country_origin if @product.present? %>" readonly="readonly" id="txtOrigin" class="readOnly kpn_font menu" style="width:180px;" />
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 80px"  class="kpn_th menu">材質</th>
                            <td class="kpn_td" colspan="3">
                                <textarea name="txtMaterial" rows="2" cols="20" readonly="readonly" id="txtMaterial" class="readOnly kpn_font menu" style="height:35px;width:100%;"><%= @product[0].material if @product.present? %>
                                </textarea>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th style="width:100px" class="kpn_th">Item No.</th>
                            <td class="kpn_td">
                                <input name="txtMakerItemCode" type="text" value="<%= @product[0].maker_code if @product.present? %>" readonly="readonly" id="txtMakerItemCode" class="readOnly kpn_font" style="width:150px;" />
                            </td>
                            <td class="kpn_td">
                                <input name="txtItemEngName" type="text" value="<%= @hinenma %>" readonly="readonly" id="txtItemEngName" class="readOnly kpn_font" style="width:350px;" />
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td class="kpn_th" style="width: 450px">検品基準</td>
                            <td class="kpn_th" style="width: 150px">判定方法</td>
                        </tr>

                        <% if @criterions.present? %>
                            <% @criterions.each do |criterion| %>
                                <tr>
                                    <td class="kpn_td">
                                        <textarea name="txtKenpinkijun" rows="2" cols="20" readonly="readonly" id="txtKenpinkijun" class="readOnly kpn_font" style="height:80px;width:100%;"><%= criterion[:kijun] %>
                                        </textarea>
                                    </td>
                                    <td class="kpn_td">
                                        <textarea name="txtHanteihouhou" rows="2" cols="20" readonly="readonly" id="txtHanteihouhou" class="readOnly kpn_font" style="height:80px;width:100%;"><%= criterion[:houhou] %>
                                        </textarea>
                                    </td>
                                </tr>
                            <% end %>
                        <% end %>

                    </table>
                    <div class="menu"><br /><br /></div>
                    <input type="submit" name="btnLogiMemoUpdate" value="Logiメモ 新規登録・更新" id="btnLogiMemoUpdate" class="menu" />
                    <div class="menu"><br /></div>
                    <table style="width:100%;">
                        <tr>
                            <th style="width:100px;" class="kpn_th menu">Logiメモ</th>
                            <td>
                                <textarea name="txtLogiMemo" rows="2" cols="20" id="txtLogiMemo" class="kpn_font menu" style="height:40px;width:100%;">
</textarea>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 50%">
                    <table>
                        <tr>
                            <td style="width: 480px"></td>
                            <th style="width: 80px" class="kpn_th">更新日</th>
                            <td>
                                <input name="txtKpnUpdateDate" type="text" readonly="readonly" id="txtKpnUpdateDate" class="readOnly" style="width: 80px" />
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th style="width: 120px" class="kpn_th dw_hidden">海外検品</th>
                            <td class="kpn_td dw_hidden">
                                
                                <span id="lblKaigaiKenpin" class="kpn_font" style="font-weight:normal;"></span>
                            </td>
                            <td style="width: 280px" class="dw_hidden"></td>
                            <td class="kpn_td dw_hidden">
                                
                                <span id="lblKaijiFlg" class="kpn_font menu" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="kpn_th dw_hidden">国内検品</th>
                            <td class="kpn_td dw_hidden">
                                
                                <span id="lblKokunaiKenpin" class="kpn_font" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="kpn_th dw_hidden">検針方法</th>
                            <td class="kpn_td dw_hidden">
                                
                                <span id="lblKenshinHouhou" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="kpn_th menu">検針ID</th>
                            <th class="kpn_th">検針方法</th>
                            <th class="kpn_th">検針場所</th>
                            <th class="kpn_th menu">検針コスト(\)</th>
                        </tr>
                        <tr>
                            <td class="menu">
                                <input name="txtKenshinID" type="text" readonly="readonly" id="txtKenshinID" class="readOnly kpn_font" style="width:60px;" />
                                
                            </td>
                            <td><input name="txtKenshinHouhou" type="text" readonly="readonly" id="txtKenshinHouhou" class="readOnly kpn_font" style="width:150px;" /></td>
                            <td><input name="txtKenshinBasho" type="text" readonly="readonly" id="txtKenshinBasho" class="readOnly kpn_font" style="width:150px;" /></td>
                            <td><input name="txtKenshinCost" type="text" readonly="readonly" id="txtKenshinCost" class="readOnly kpn_font menu" style="width:60px;text-align:right;" /></td>
                        </tr>
                        <tr>
                            <th class="kpn_th menu">検品ID</th>
                            <th class="kpn_th">検品方法</th>
                            <th class="kpn_th">検品場所</th>
                            <th class="kpn_th menu">検品コスト(\)</th>
                        </tr>
                        <tr>
                            <td class="menu">
                                <input name="txtKenpinID" type="text" readonly="readonly" id="txtKenpinID" class="readOnly kpn_font" style="width:60px;" />
                                
                            </td>
                            <td><input name="txtKenpinHouhou" type="text" readonly="readonly" id="txtKenpinHouhou" class="readOnly kpn_font" style="width:150px;" /></td>
                            <td><input name="txtKenpinBasho" type="text" readonly="readonly" id="txtKenpinBasho" class="readOnly kpn_font" style="width:150px;" /></td>
                            <td><input name="txtKenpinCost" type="text" readonly="readonly" id="txtKenpinCost" class="readOnly kpn_font menu" style="width:60px;text-align:right;" /></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th style="height:40px;" class="kpn_th">検品・検針・特記事項</th>
                            <td class="kpn_td">
                                <textarea name="txtTokkijikou" rows="2" cols="20" readonly="readonly" id="txtTokkijikou" class="readOnly kpn_font" style="border-width:1px;border-style:Inset;height:40px;width:250px;">
</textarea>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th style="width: 140px;" class="kpn_th menu">適合規格(国内)1</th>
                            <td class="kpn_td">
                                <input name="txtSafeStandardJpn1" type="text" readonly="readonly" id="txtSafeStandardJpn1" class="readOnly kpn_font menu" style="border-width:1px;border-style:Inset;width:250px;" />
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 140px;" class="kpn_th menu">適合規格(国内)2</th>
                            <td class="kpn_td">
                                <input name="txtSafeStandardJpn2" type="text" readonly="readonly" id="txtSafeStandardJpn2" class="readOnly kpn_font menu" style="border-width:1px;border-style:Inset;width:250px;" />
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 140px;" class="kpn_th menu">適合規格(海外)1</th>
                            <td class="kpn_td">
                                <input name="txtSafeStandardExt1" type="text" readonly="readonly" id="txtSafeStandardExt1" class="readOnly kpn_font menu" style="border-width:1px;border-style:Inset;width:250px;" />
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 140px;" class="kpn_th menu">適合規格(海外)2</th>
                            <td class="kpn_td">
                                <input name="txtSafeStandardExt2" type="text" readonly="readonly" id="txtSafeStandardExt2" class="readOnly kpn_font menu" style="border-width:1px;border-style:Inset;width:250px;" />
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 140px;" class="kpn_th menu">食品検査完了日</th>
                            <td class="kpn_td">
                                <input name="txtChkFoodsDate" type="text" readonly="readonly" id="txtChkFoodsDate" class="readOnly kpn_font menu" style="border-width:1px;border-style:Inset;width:80px;" />
                                
                                
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 140px;" class="kpn_th menu">ホルマリン検査完了日</th>
                            <td class="kpn_td">
                                <input name="txtChkFormalinDate" type="text" readonly="readonly" id="txtChkFormalinDate" class="readOnly kpn_font menu" style="border-width:1px;border-style:Inset;width:80px;" />
                                
                                
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td class="kpn_th" style="width: 400px;">個別確認</td>
                            <td class="kpn_th" style="width: 100px;">確認方法</td>
                        </tr>
                        <tr>
                            <td class="kpn_td">
                                <textarea name="txtKobetukakunin01" rows="2" cols="20" readonly="readonly" id="txtKobetukakunin01" class="readOnly kpn_font" style="border-width:1px;border-style:Inset;height:50px;width:100%;">
</textarea>
                            </td>
                            <td class="kpn_td">
                                
                                <br />
                                <span id="lblKakuninhouhou01" class=" kpn_font" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="kpn_td">
                                <textarea name="txtKobetukakunin02" rows="2" cols="20" readonly="readonly" id="txtKobetukakunin02" class="readOnly kpn_font" style="border-width:1px;border-style:Inset;height:50px;width:100%;">
</textarea>
                            </td>
                            <td class="kpn_td">
                                
                                <br />
                                <span id="lblKakuninhouhou02" class=" kpn_font" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="kpn_td">
                                <textarea name="txtKobetukakunin03" rows="2" cols="20" readonly="readonly" id="txtKobetukakunin03" class="readOnly kpn_font" style="border-width:1px;border-style:Inset;height:50px;width:100%;">
</textarea>
                            </td>
                            <td class="kpn_td">
                                
                                <br />
                                <span id="lblKakuninhouhou03" class=" kpn_font" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="kpn_td">
                                <textarea name="txtKobetukakunin04" rows="2" cols="20" readonly="readonly" id="txtKobetukakunin04" class="readOnly kpn_font" style="border-width:1px;border-style:Inset;height:50px;width:100%;">
</textarea>
                            </td>
                            <td class="kpn_td">
                                
                                <br />
                                <span id="lblKakuninhouhou04" class=" kpn_font" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="kpn_td">
                                <textarea name="txtKobetukakunin05" rows="2" cols="20" readonly="readonly" id="txtKobetukakunin05" class="readOnly kpn_font" style="border-width:1px;border-style:Inset;height:50px;width:100%;">
</textarea>
                            </td>
                            <td class="kpn_td">
                                
                                <br />
                                <span id="lblKakuninhouhou05" class=" kpn_font" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="kpn_td">
                                <textarea name="txtKobetukakunin06" rows="2" cols="20" readonly="readonly" id="txtKobetukakunin06" class="readOnly kpn_font" style="border-width:1px;border-style:Inset;height:50px;width:100%;">
</textarea>
                            </td>
                            <td class="kpn_td">
                                
                                <br />
                                <span id="lblKakuninhouhou06" class=" kpn_font" style="font-weight:normal;"></span>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <div id="pnlImage" style="height:300px;width:600px;">
	
                                    <img id="imgItem" src="" style="border-width:0px;" />
                                
</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        
        
        
        
        
        
        
    </form>
</body>