<p id="notice"><%= notice %></p>

<h1>Returnbooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @returnbooks.each do |returnbook| %>
      <tr>
        <td><%= returnbook.name %></td>
        <td><%= link_to 'Show', returnbook %></td>
        <td><%= link_to 'Edit', edit_returnbook_path(returnbook) %></td>
        <td><%= link_to 'Destroy', returnbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Returnbook', new_returnbook_path %>
